html, body {
height:100%;
margin:0;
padding:0;
}

.carousel, .item, .active {
height:100%;
}
.carousel-inner {
height:100%;
}
.carousel {
margin-bottom: 60px;
}
.carousel-caption {
z-index: 10;
}
.carousel .item {
background-color: #777;
}
.carousel .carousel-inner .bg {
background-repeat:no-repeat;
background-size:cover;
}
.carousel .carousel-inner .bg1 {
background-image:url(../images/dumbbells.jpg);
background-position: center top;
}
.carousel .carousel-inner .bg2 {
background-image:url(../images/legs.jpg);
background-position: center center;
}
.carousel .carousel-inner .bg3 {
background-image:url(../images/mountain.jpg);
background-position: center bottom;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/****************************************************
 * 	Push Button
 *****************************************************/
.push_button{
	position:relative;
	width:200px;
	color:#fff;
	text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  font-weight: bolder;
	display:block;
	text-decoration:none;
	margin:0 auto;
	border-radius:5px;
	border:solid 1px #0B0B61;
	background:#0174DF;
	text-align:center;
	padding:20px 30px;
	
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	
	-webkit-box-shadow: 0px 9px 0px #0B0B61;
        -moz-box-shadow: 0px 9px 0px #0B0B61;
        box-shadow: 0px 9px 0px #0B0B61;
}

.push_button:active{
    -webkit-box-shadow: 0px 2px 0px #0B0B61;
    -moz-box-shadow: 0px 2px 0px #0B0B61;
    box-shadow: 0px 2px 0px #0B0B61;
    position:relative;
    top:7px;
}

body, input, button, select, option, textarea {
    font-family: sans-serif
}
body {
    font-size: medium
}
input, button, select, option, textarea {
    font-size: 100%;
}

button {
    font-weight: bold;
}

.featurette {
    text-align: center
}

/* Carousel Text */
.main{
    color: #fff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}


H2 {
    text-align: center;
}

.navbar-brand {
  font-weight:bold;
  font-style: oblique;
  font-size: 26px;
}

.foot {
    text-align: center;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}