#question {
    font-size: 3vw;
}

#quiz {
    text-indent: 10px;
    display:none;
}

.open_text {
    text-align: justify;
    padding-left: 10px
}

.button{
    position:relative;
	width:100%;
	color:#fff;
    top:10px;
    font-weight: bolder;
	display:block;
	text-decoration:none;
	margin:0 auto;
	border-radius:5px;
	border:solid 1px #707070;
	background:#FFF;
	text-align:center;
	padding:20px 30px;
	
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	
	-webkit-box-shadow: 0px 9px 0px #707070;
    -moz-box-shadow: 0px 9px 0px #707070;
    box-shadow: 0px 9px 0px #707070;
}

.button:active{
    -webkit-box-shadow: 0px 2px 0px #707070;
    -moz-box-shadow: 0px 2px 0px #707070;
    box-shadow: 0px 2px 0px #707070;
    position:relative;
    top:7px;
}
.button.active {
    background-color: #F8F8FF;
    color: #525252;
}

.button a {
    text-decoration: none;
    color: black;
}


#container {
    width:50%;
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: #5ca5f8;
    border:4px solid #B0E0E6;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow:
    -2px -2px 0 #888,
    2px -2px 0 #888,
    -2px 2px 0 #888,
    2px 2px 0 #888;;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prev {
    display:none;
}

#start {
    display:none;
    width: 90px;
}